$el: '._bubbles-info';

#{$el}{
  display: inline-block;
}
#{$el}__outer, #{$el}__badges-container {
  position: relative; display: inline-block; vertical-align: top;
}

#{$el}__badge {
  margin-bottom: 8px;
}
#{$el}__badges-container {margin-left: 120px;}
#{$el}__circle__amount__number {
  text-align: center;
  font-size: 2.8em;
  line-height: 1em;
  margin-top: 12px;
}
#{$el}__badge__circle {
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 50%;
}

#{$el}__badge--accident {
  #{$el}__badge__circle {
    background-color: $color-red;
  }
}
#{$el}__badge--work {
  #{$el}__badge__circle {
    background-color: $color-blue;
  }
}
#{$el}__badge--info {
  #{$el}__badge__circle {
    background-color: $color-green;
  }
}

#{$el}__badge__circle {
  display: inline-block;
  #{$el}__badge__amount__number {
    color: #ffffff;
    line-height: 2.4em;
  }
}
#{$el}__badge__amount__text {
  margin-left: 14px;
  display: inline-block;
}
#{$el}__circle {
  #{$el}__circle__amount__text {
    text-align: center;
  }
}


$el: '._round-diagram';

#{$el} {
  position: relative;
  margin-top: 15px;
}
#{$el}__main {
  border-radius: 50%;
  position: absolute;
  width: 98px;
  height: 98px;
  background: $color-green;
  margin-top: 5px;
}
#{$el}__segment {
  border-left: 49px solid transparent;
  border-right: 49px solid transparent;
  border-radius: 50%;
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  padding-top: 49px;
  &.m-red {
    border-bottom-color: $color-red;
    z-index: 1;
  }
  &.m-blue {
    border-bottom-color: $color-blue;
    z-index: 2;
  }
  &.m-green {
    border-bottom-color: $color-green;
    z-index: 3;
  }
  &.m-red, &.m-blue, &.m-green {
    border-bottom-width: 49px;
    border-bottom-style: solid;
  }
}
#{$el}__segment__border {
  width: 2px;
  background: transparent;
  left: 48px;
  border-top: 8px solid white;
  padding-top: 91px;
  position: absolute;
  z-index: 10;
}

#{$el}__white-bg {
  width: 86px;
  height: 86px;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  top: 11px;
  left: 6px;
  z-index: 10;
}

