// Favourite units widget styling
// is used on /dashboard

$el: '._favourites';

#{$el}{
  border: 4px solid $color-cloud;
  padding: 10px 35px;
  border-radius: 5px;
}

#{$el}__header{
  position: relative;
}

  #{$el}__header__icon{
    @include fa-icon("\f005", 16px);
    color: $color-yellow;
    position: absolute;
    left: -25px;
    top: 0;
  }

  #{$el}__header__title{
    color: $gray-dark;
  }


#{$el}__select{
  padding: 0 8px 6px!important;
  border: 3px solid $color-yellow!important;
  border-radius: 5px!important;
  &.select2-dropdown-open{
    b{
      @include fa-icon("\f106", 18px);
    }
  }
  b{
    @extend .fa;
    background: none!important;
    @include fa-icon("\f107", 18px);
  }
}


#{$el}__buttons{
  overflow: hidden;
  padding: 10px 0 0;
}


#{$el}__button{
  $size: 35px;

  width: $size;
  height: $size;
  border-radius: 3px;
  float: left;
  margin: 0 15px 0 0;
  line-height: $size;
  text-align: center;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all .15s;
}

  #{$el}__button--emergency{
    background: $color-red;
    &:hover{
      background: $color-red-d;
    }
  }

  #{$el}__button--work{
    background: $color-blue;
    &:hover{
      background: $color-blue-d;
    }
  }

  #{$el}__button--information{
    background: $color-green;
    &:hover{
      background: $color-green-d;
    }
  }

  #{$el}__button--show{
    margin: 0;
    background: $color-cloud-d;
    &:hover{
      background: $color-gray;
    }
  }
