$el: '._im';

#{$el}{
  overflow: hidden;
  height: 100%;
  position: relative;
  hr{ margin-left: 0; margin-right: 0; }
}

#{$el}__header{
  font-family: $font-family-sans-serif-light;
  font-size: 22px;
  color: $color-asphalt;
  height: 10%;
  position: absolute;
  top: 1px;
  &._hr {
    width: 100%;
    top: 10%;
    padding: 0;
    margin: 0;
  }
}
#{$el}__body {
  height: 80%;
  position: absolute;
  top: 10%;
  width: 100%;
}
#{$el}__footer {
  position: absolute;
  height: 10%;
  bottom: 0;
  width: 100%;
}

$el: '._im-message';

#{$el} {
  position: relative;
}

#{$el}__header{
  @include clearfix();
  margin-bottom: $font-size-base;

}

#{$el}__org-title{
  font-family: $font-family-sans-serif;
  color: $color-blue;
  font-size: 18px;
  padding-right: $font-size-base;
}

#{$el}__sender-name, #{$el}__date{
  font-family: $font-family-sans-serif;
  color: $color-gray;
  font-size: 13px;
}

#{$el}__date{ float: right; }

#{$el}__text{
  font-family: $font-family-sans-serif;
  color: $color-asphalt;
  font-size: 12px;
}