$el: '._tv';

#{$el}{
  @extend ._units-page;
  height: 100%;
  position: relative;
}

$filter-btns-height: 50px;

#{$el}__filter-btns{
  overflow: hidden;
  margin: 0 0 15px;
  text-align: right;
}

  #{$el}__filter-btns__title {
    font-size: 21px;
    display: inline-block;
    margin: 0 -3px 0 0;
    line-height: $filter-btns-height;
  }


#{$el}__filter-btn {
  display: inline-block;
  border-radius: 5px;
  padding: 0 15px;
  line-height: $filter-btns-height;
  margin-left: 15px;
  vertical-align: top;
  height: $filter-btns-height;
  .checkbox{
    color: #fff;
    vertical-align: top;
    line-height: $filter-btns-height;
  }
}

  #{$el}__filter-btn__label {
    font-family: $font-family-sans-serif-light;
    color: #fff!important;
    font-size: 16px;
    cursor: pointer;
  }

    #{$el}__filter-btn__label__text{
      margin-left: 10px;
    }

  #{$el}__filter-btn--red {
    background: $color-red;
  }

  #{$el}__filter-btn--blue {
    background: $color-blue;
  }

  #{$el}__filter-btn--green {
    background: $color-green;
  }
