- content_for :page_header do
  h1.pull-left
    | Объекты КЗС
  header.js-bubbles-count
    ' Всего
    span.js-total-bubbles-count
      ' 0 сигналов:
    span.js-accidents-bubbles-count
      ' 0 ЧП,
    span.js-work-bubbles-count
      ' 0 работ,
    span.js-info-bubbles-count
      | 0 информации


/.js-bubble-form.modal.fade aria-hidden="true" role="dialog" tabindex="-1"
/  = render :partial => "unit_bubbles/form"


- types_json = UnitBubble.bubble_types.map{ |k,v| { value: k, translate: I18n.t(k, scope: 'enums.unit_bubble.bubble_type') } }.to_json
.hidden.js-new-bubble-form-mock data-types=types_json
  = simple_form_for(UnitBubble.new, url: "/") do |f|
    = f.input :id, as: :hidden

._units-page.user-access-page
  ._units-tree-container.col-6
    - if Unit.count > 0
      .js-units-tree-container data-url= api_units_path
      .bg-box.bg-box-white
    - else
      h2.label.label-red-d
        | Объектов в базе данных нет

  - unless Rails.env.test?
    ._three-d.col-6
      ._units-content-img.m-units-tree-page.js-units-content-img
      .preloader
        .prompt
          p Пожалуйста, подождите
          p.title Идёт загрузка карты…
          .percent 0%
          .bar
            .front
      .load-failed
        p.title Ошибка при загрузке карты




#bubblePopoverContainer

= subscribe_to("/broadcast/unit/bubble/create")
= subscribe_to("/broadcast/unit/bubble/destroy")
